@import "../../common/common";
@import "../../common/iconfont"
@import "../../common/scene";
@import "../../common/header";
@import "../../component/alert";
@import "./confirmorder.css";
@import "./coupon.css";
@import "../../receiver/stylesheet/receiver.styl";

.text-overflow{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.confirm-order-container{
    height:100%;
    &>#confirm-order{
        height:100%;
    }
}

$gray-color = #555

.confirm-order-content{
    padding-bottom:1.32rem;
}

.orderConfirm_title{
    &>em{
        background-position:50% 50%;
        width:px2rem(58);
        height:px2rem(20);
        line-height:px2rem(20);
        font-size:px2rem(11);
    }
    &>span{
        line-height:px2rem(20);
    }
    &>i{
        line-height:px2rem(20);
    }
}

.ckTo-box .intro{
    span{
        float:none;
    }
    &>span{
        float:left;
    }
    &>span:last-child{
        float:right;
    }
}

.count-box{
    .count-box-line{
        display:flex;
        justify-content:space-between;
        align-items:center;
        height:.96rem;
        line-height:.96rem;
        padding:0 .32rem;
        .label{
            flex:1;
            color:#999;
        }
        &.intro .data{
            color:#27c241;
        }
        .data{
            color:#333;
            font-size:.266667rem;
            span{
                margin-left:.12rem;
                font-size:.373333rem;
            }
            &.red-w{
                color: #D32449;
                font-size:.32rem;
            }
        }
        .red-box{
            width:.986667rem;
            height: .5333333rem;
            line-height:.54rem;
            background: url(/client/asset/images/ico5.gif) right no-repeat;
            background-size:auto 100%;
            color: #D32449;
            font-size:.27rem;
            text-align:center;
            padding-right:.13rem;
            margin-right:px2rem(12);
        }
    }
}

.coupon-content{
    height:100%;
}

.noReceive{
    display:flex;
    justify-content:center;
    align-items:center;
    &>div{
        padding:px2rem(5) px2rem(10);
        color:#999;
        text-align:center;
        vertical-align:middle;
    }
}

.count-box .count-box-line:last-child .label{
    color:rgb(51,51,51);
}
