@import "../../common/common";
@import "../../common/iconfont";
@import "../../component/slidetabs";
@import "../../component/slider";
@import "./index.css";

.index-container{
    height:100%;
    #index{
        height:100%;
    }
}
.floor-content{
    padding-bottom:1.38rem;
    width:100%;
    .m-entry{
        padding:.44rem 0;
    }
}

.index-content{
    position:relative;
    height:100%;
    overflow:hidden;
}
.slide-tabs {
    position:absolute;
    // width:100%;
    .slide-tabs-navbar{
        border:0 none;
        background:#FFF;
        .slide-tabs-navbar-item{
            line-height:px2rem(38);
            border:0 none;
            width:px2rem(72);
            &>span{
                padding-bottom:px2rem(3);
            }
            &.active>span{
                color:#801da1;
                border-bottom:px2rem(1) solid #801da1;
            }
        }
    }
    .slide-tabs-content{
        .slide-tabs-item{
            overflow-y:auto;
            overflow-x:hidden;
        }
    }
}

.indexSingle{
    padding:.266rem 0 0;
    margin:0 .32rem;
}

