@import "../../common/common";
@import "../../common/iconfont";
@import "../../common/router";
@import "../../common/scene";
@import "../../common/search";
@import "../../common/footer";
@import "../../common/loading";
@import "../../component/slidetabs";
@import "../../component/slider";
@import "../../component/image";
@import "./index.css";

html,body{
    height: 100%;
}
body{
    overflow:hidden;
}
.index-container{
    height:100%;
    overflow:hidden;
    #index{
        height:100%;
        overflow:hidden;
        &>div{
            height:100%;
            overflow:hidden;
        }
    }
}
.floor-content{
    width:100%;
    // position:absolute;
    .m-entry{
        padding:.44rem 0;
    }
}

.index-content{
    // position:relative;
    height:100%;
    overflow:hidden;
}
.slide-tabs {
    // position:absolute;
    // width:100%;
    .slide-tabs-navbar{
        border:0 none;
        background:#FFF;
        .slide-tabs-navbar-item{
            line-height:px2rem(38);
            border:0 none;
            width:px2rem(72);
            &>span{
                padding-bottom:px2rem(3);
                b{
                    font-weight:400;
                }
            }
            &.active>span{
                color:#801da1;
                border-bottom:px2rem(1) solid #801da1;
            }
        }
    }
    .slide-tabs-content{
        padding-bottom:px2rem(81);
        .slide-tabs-item{
            position:relative;
        }
    }
    
}

.indexSingle{
    padding:.266rem 0 0;
    margin:0 .32rem;
}

.slider .control-nav{
    position: absolute;
    width: 100%;
    bottom: .5rem;
    left: 50%;
    margin-left: -50%;
    z-index: 10;
    text-align: center;
    &>span{
        width: 8px;
        height: 8px;
        background: url(/client/asset/images/bannerDot2.png) 0 0 no-repeat;
        background-size: 100%;
        opacity:1;    
        &.active{
            background: url(/client/asset/images/bannerDot2.png) 0 -8px no-repeat;
            background-size: 100%;    
        }
    }
}

