@import "../../common/common.styl";
@import "../../common/iconfont.styl";
@import "../../common/header.styl";
@import "../../common/member.styl";

body{
	background-color: #fff;
}
.aboutus-content{
	font-size: .373333rem;
	color: $gray-color;
	background-color: #fff;
	color: #333;
	> p{
		padding:.19rem .5rem;
		line-height: .6rem;
		text-indent: 2em;
	}
	> div{
		padding:.28rem .5rem;
		&.img-wrap{
			line-height: 0;
			padding: 0;
			img{
				width: 100%;
			}
		}
	}
	.m-entry {
		padding:.3rem .5rem;
		overflow: hidden;
		display: flex;
	}
	.m-entry>span {
		flex: 1;
		font-size: .3rem;
		text-align: center;
		line-height: 100%;
		display: block;
	}
	.m-entry span i{
		display: block;
		width: 30px;
		height: 30px;
		margin: 0 auto;
		background: url(/client/asset/images/enter-ico_2.png) no-repeat;
		background-size: 100%;
		margin-bottom:.3rem;
	}
	.m-entry span:nth-child(2) i{
		background-position:0 -36px;
		background-size: 100%;
	}
	.m-entry span:nth-child(3) i{
		background-position:0 -72px;
		background-size: 100%;
	}
	.m-entry span:nth-child(4) i{
		background-position:0 -107px;
		background-size: 100%;
	}
	.copyright{
		text-align:center;
		color:#666;
		font-size:.266667rem;
		margin:.2rem 0;
		line-height:.5rem;
	}
	.copyright em{
		text-align:center;
		display:block;
	}
	.copyright span{
		text-align:center;
		display:block;
	}

}
