@import "../../common/common.styl";
@import "../../common/iconfont.styl";
@import "../../common/header.styl";
@import "../../common/member.styl";

body{
	background-color: #fff;
}
.aboutus-content{
	font-size: .4rem;
	color: $gray-color;
	background-color: #fff;
	> img{
		width:100%;
	}
	> p{
		padding:.28rem .5rem;
	}
	> div{
		padding:.28rem .5rem;
	}
	.m-entry {
		padding:.3rem .5rem;
		overflow: hidden;
		display: flex;
	}
	.m-entry>span {
		flex: 1;
		font-size: .3rem;
		text-align: center;
		line-height: 100%;
		display: block;
	}
	.m-entry span i{
		display: block;
		width: 30px;
		height: 30px;
		margin: 0 auto;
		background: url(/client/asset/images/enter-ico_2.png) no-repeat;
		background-size: 100%;
		margin-bottom:.3rem;
	}
	.m-entry span:nth-child(2) i{
		background-position:0 -36px;
		background-size: 100%;
	}
	.m-entry span:nth-child(3) i{
		background-position:0 -72px;
		background-size: 100%;
	}
	.m-entry span:nth-child(4) i{
		background-position:0 -107px;
		background-size: 100%;
	}

}
