.header {
    height: 1.17rem;
    line-height: 1.17rem;
    background-color: #fff;
    border-bottom:1px solid #D7D7D7;
    text-align: center;
    position:relative;
    font-size: .453333rem;
    color: #222;
    .iconfont {
        position:absolute;
        left:0;
        top:0;
        z-index:9;
        font-size:.58rem;
        width:1.17rem;
        height:1.17rem;
        padding-top: .28rem;
        color:#a7a7a7;
        &.icon-back{
            &:before{
                content: "";
                width: .586667rem;
                height: .586667rem;
                display: block;
                background: url(/client/asset/images/backArrow.png) no-repeat;
                background-size: 100%;
                margin: 0 auto;
            }
        }
    }
    .btn-right {
        position:absolute;
        right:0;
        top:0;
        z-index:9;
        width:1.17rem;
        height:1.17rem;
        color:#801da1;
    }
    .btn-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.17rem;
        height: 1.17rem;
        color: #666;
    }
}

header{
    .logo img{
        width:rem4px(79);
        margin-top:0;
    }
}