.header {
    height: 1.17rem;
    line-height: 1.17rem;
    background:#fff url(/client/asset/images/headerBg_2.png) 0 bottom no-repeat;
    background-size: cover;
    text-align: center;
    position:relative;
    font-size: .453333rem;
    color: #222;
    .logo img{
        width: 2.1rem;
        display: inline-block;
        margin-top: .35rem;
        overflow: hidden;
    }
    .iconfont {
        position:absolute;
        left:0;
        top:0;
        z-index:9;
        font-size:.58rem;
        width:1.17rem;
        height:1.17rem;
        color:#a7a7a7;
    }
    .btn-right {
        position:absolute;
        right:0;
        top:0;
        z-index:9;
        width:1.17rem;
        height:1.17rem;
        color:#801da1;
    }
    .btn-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.17rem;
        height: 1.17rem;
        color: #666;
    }
}
