$gray-color = #555
$purple-color = #811da1

body{
    background-color: #f1f1f1;
}
.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:200;
    box-sizing:border-box;
    background: url(/client/asset/image/headerBg.png) 0 bottom no-repeat;
    background-size: 100%;
    &>span{
        margin-right: .5rem;
        a{
            color: #811da3;
            font-size: .65rem;
        }
    }
}