$gray-color = #555
$purple-color = #811da1

body{
    background-color: #f1f1f1;
}
.header {
    &>span{
        margin-right: .2rem;
        a{
            color: $purple-color;
            font-size: .4rem;
        }
    }
}