.search-wrap{
    height:100%;
    background:#F7F7F7;
    .search-box{
        &>input{
            box-sizing:border-box;
            border:0 none;
        }
        &>span{
            font-size:px2rem(12);
        }
        &>.reset{
            width:px2rem(13);
            height:px2rem(17);
            display:block;
            color:#999;
        }
    }
    .searchOut{
        display:block;
    }
}

body.grey{
    background-color:#f7f7f7;
}
.searchResult header{
        background: #fff url(/client/asset/images/headerBg_2.png) 0 bottom no-repeat;
}
header .screening {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.15rem;
    height: 1.15rem;
    line-height: 1.15rem;
    text-align: right;
    text-align: center;
    color: #801da1;
}

.searchResult{
    background-color:#fff;
}
.search-wrap {
    width: 100%;
}
.search-header {
    height:1.16rem;
    background-color: #fff;
    border-bottom:1px solid #d7d7d7;
}
.search-box {
    position: absolute;
    left:.266667rem;
    top:.133333rem;
    right:1.6rem;
    overflow: hidden;
}
.searchResult .search-box {
    left:1.6rem;
    top:.16rem;
}
.search-btn {
    float:right;
    width:60px;
    text-align: center;
    line-height:1.16rem;
    color:#801da1;
}
.search-box input{
    background-color: #E3E3E6;
    border-radius:5px;
    height: .8rem;
    color: #333;
    font-size: 0.32rem;
    width: 100%;
    padding-left:.86rem;
    line-height:normal;
}
.search-box span{
    position: absolute;
    color: #666;
    width:17px;
    height:17px;
    text-align: center;
    top: .15rem;
    left: .2rem;
    background:url(/client/asset/images/searchIcon.png) 0 0 no-repeat;
    background-size:100%;
}
.search-box.searchFoucs span{
    background:url(/client/asset/images/searchIcon.png) 0 -25px no-repeat;
    background-size:100%;
}
.search-box .reset{
    position:absolute;
    left:auto;
    right:.18rem;
    top:.08rem;
    display:none;
    line-height:normal;
}
.search-box .reset .iconfont{
    font-size:.42rem;
}

.searchHot{
    border-bottom:1px solid #d7d7d7;
    padding:.16rem .32rem;
    background-color:#fdfdfd;
}
.searchHot span{
    display:inline-block;
    line-height:1.2rem;
}
.searchHot div{
    float:right;
    width:88%;
}
.searchHot a{
    padding:.14rem .18rem;
    display:inline-block;
    border-radius:5px;
    border:1px solid #999;
    margin:.16rem .13rem;
    line-height:.38rem;
    font-size:.32rem;
}
.searchList{
    padding:0 .32rem;
    background-color:#f7f7f7;
}
.searchList span{
    display:block;
    border-bottom:1px solid #d7d7d7;
    height:1.33334rem;
    margin-top:.4rem;
}
.searchList span em{
    float:left;
    display:block;
    font-size:.38rem;
    line-height:1.1rem;
}
.searchList span i{
    float:right;
    color:#801da1;
    border:1px solid #801da1;
    display:block;
    border-radius:3px;
    padding:.12rem .16rem;
    line-height:.6rem;
    font-size:.38rem;
}
.searchList a{
    display:block;
    border-bottom:1px solid #d7d7d7;
    height:1.2rem;
    line-height:1.2rem;
    width:100%;
    overflow:hidden;
    font-size:.32rem;
}

.searchOut{
    padding:0 .32rem;
    background-color:#f7f7f7;
    display:none;
}
.searchOut a{
    display:block;
    border-bottom:1px solid #d7d7d7;
    height:1.2rem;
    line-height:1.2rem;
    width:100%;
    overflow:hidden;
    font-size:.32rem;
}