
.switcher{
    position:relative;
    &>.switcher-case{
        width:100%;
        overflow:hidden;
        height:100%;
        // visibility:hidden;
        position:absolute;
        z-index:1000;
        background:#FFF;
        opacity:0.3;
        &.active{
            z-index:1001;
            opacity:1;
            // visibility:visible;
            transform:translate3d(0,0,0)
            animation:rightToLeft .3s ease-in;
        }
        &:first-child.active{
            animation:leftToRight .3s ease-in;            
        }
    }
}

@keyframes rightToLeft{
    from{
        transform:translate3d(100%,0,0)
    }
    to{
        transform:translate3d(0,0,0)
    }
}
@keyframes leftToRight{
    from{
        transform:translate3d(-100%,0,0)
    }
    to{
        transform:translate3d(0,0,0)
    }
}