.accordion {
    border: .05rem solid #DEDEDE;
    background: #FFF;
    margin-bottom: 1rem;
    .accordion-item {
        line-height:0;
        font-size:0;
        border-top:.05rem solid #DEDEDE;
        &:first-child {
            border-top:0 none;
        }
        dt {
            padding: .4rem .5rem;
            line-height: 1.2rem;
            cursor: pointer;
            font-size:.7rem;
            position:relative;
            &>.iconfont{
                position:absolute;
                right:3%;
                top:50%;
                font-size:.7rem;
                margin-top:-0.4rem;
                line-height:1;
                transform:rotate(0);
                transition:transform .3s linear;
            }
        }
        dd {
            display: none;
            overflow:hidden;
            .accordion-content {
                font-size:.7rem;
                line-height:1rem;
                padding: .4rem .5rem;
            }
        }
        &.active {
            dt {
                background: #F5F5F5;
                box-shadow:.05rem .05rem .05rem #DEDEDE;
                &>.iconfont{
                    transform:rotate(90deg);
                }
            }
            dd {
                display: block;
            }
        }
    }
}
