@import "./constant";

.accordion {
    border: (.05/$scale)rem solid #DEDEDE;
    background: #FFF;
    margin-bottom: (1/$scale)rem;
    .accordion-item {
        line-height:0;
        font-size:0;
        border-top:(.05/$scale)rem solid #DEDEDE;
        &:first-child {
            border-top:0 none;
        }
        dt {
            padding:(.4/$scale)rem (.5/$scale)rem;
            line-height:(1.2/$scale)rem;
            cursor: pointer;
            font-size:(.7/$scale)rem;
            position:relative;
            &>.iconfont{
                position:absolute;
                right:3%;
                top:50%;
                font-size:(.7/$scale)rem;
                margin-top:-(0.4/$scale)rem;
                line-height:1;
                transform:rotate(0);
                transition:transform .3s linear;
            }
        }
        dd {
            display: none;
            overflow:hidden;
            .accordion-content {
                font-size:(.7/$scale)rem;
                line-height:(1/$scale)rem;
                padding:(.4/$scale)rem (.5/$scale)rem;
            }
        }
        &.active {
            dt {
                background: #F5F5F5;
                box-shadow:(.05/$scale)rem (.05/$scale)rem (.05/$scale)rem #DEDEDE;
                &>.iconfont{
                    transform:rotate(90deg);
                }
            }
            dd {
                display: block;
            }
        }
    }
}
