@import "./common/common";
@import "./common/util";
.checkbox {
    position: relative;
    display: inline-block;
    width: px2rem(20);
    height: px2rem(20);
    &>input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0 none;
        font-size: 0;
        z-index: 3
    }
    &>span {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        &:before {
            display:block;
            width: 100%;
            height: 100%;
            font-size: px2rem(17);
        }
    }
    &>span.checked {
        display: none;
    }
    &>span.unchecked {
        display: inline-block;
    }
    &>input:checked ~ span.checked {
        display: inline-block;
    }
    &>input:checked ~ span.unchecked {
        display: none;
    }
}
