@import "./common/common";
@import "./common/util";
.back-to-top {
    position: fixed;
    bottom: px2rem(40);
    right: px2rem(10);
    background: rgba(0, 0, 0, .75);
    width: px2rem(40);
    height:px2rem(40);
    border-radius: px2rem(40);
    z-index: 100;
    text-align: center;
    opacity:0;
    transition:opacity .3s ease-in;
    &.active{
        opacity:1;
        transition:opacity .3s ease-in;
    }
    a {
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        span {
            font-size:px2rem(18);
            color: #FFF;
        }
    }
}
