@import "./common/common";
@import "./common/util";
img.is-ready {
    animation: fadeIn .5s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        // transform: rotateY(0deg);
    }
    100% {
        opacity: 1;
        // transform: rotateY(180deg);
    }
}

.lazyload-image {
    position: relative;
    width: 100%;
    // overflow:hidden;
    &>div {
        z-index: 2;
        position: absolute;
        img {
            width: 100%;
        }
    }
    &>div.loaded {
        z-index: 1;
    }
}

.lazyload-image {
    &>div.flip-enter.flip-enter-active {
        animation: flip-enter .5s ease-in-out;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
    &>div.flip-leave.flip-leave-active {
        animation: flip-leave .5s ease-in-out;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
}

@keyframes flip-enter {
    from {
        opacity: 0;
        z-index: 1;
        transform: rotateY(180deg);
    }
    to {
        opacity: 1;
        z-index: 2;
        transform: rotateY(0deg);
    }
}

@keyframes flip-leave {
    from {
        opacity: 1;
        z-index: 2;
        transform: rotateY(0deg);
    }
    to {
        opacity: 0;
        z-index: 1;
        transform: rotateY(180deg);
    }
}
