@import "./constant";

.popover {
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, .9);
    line-height:(1.1/$scale)rem;
    top: -(1.4/$scale)rem;
    text-align: center;
    font-size: (.65/$scale)rem;
    border-radius: (.2/$scale)rem;
    white-space: nowrap;
    padding: 0 (.25/$scale)rem;
    left: 0;
    display:none;
    &.active{
        display:block;
    }
    &:after {
        border: (0.2/$scale)rem solid transparent;
        border-top: (0.2/$scale)rem solid #000;
        opacity: .9;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -(0.4/$scale)rem;
        left: (0.4/$scale)rem;
        content: '';
        margin-left: 0;
    }
}
