@import "./mixin";
@import "./constant";

.selected {
    .dropdown-status .status {
        &>.selected-label {
            display: inline-block;
            border-radius: (.15/$scale)rem;
            border: (.05/$scale)rem solid #DDD;
            background: #E8E8E8;
            margin: (.15/$scale)rem (.25/$scale)rem (.15/$scale)rem 0;
            padding: (.15/$scale)rem (.25/$scale)rem;
        }
    }
    .selected-items {
        overflow-x: hidden;
        overflow-y: auto;
        li {
            line-height: (1/$scale)rem;
            padding: (.25/$scale)rem 0;
            clear: both;
            overflow: hidden;
            width: 100%;
            box-sizing: border-box;
            padding: (.25/$scale)rem (.5/$scale)rem;
            .selected-item {
                float: left;
                display: inline-block;
                @include text-overflow;
                width: 80%;
            }
            &.checked .iconfont {
                color: rgba(14, 144, 210, 1);
            }
            .iconfont {
                float: right;
                font-size: (.65/$scale)rem;
                padding-left: (.25/$scale)rem;
                box-sizing: border-box;
                width: 20%;
                color: #AAA;
            }
            &.selected-group-header {
                border-bottom: (0.05/$scale)rem solid #E5E5E5;
                border-top: (0.05/$scale)rem solid #E5E5E5;
                background: #F8F8F8
            }
        }
    }
    &>.dropdown-content {
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            border-style: dashed dashed solid;
            border-color: transparent;
            border-image: none;
            border-width: 0 (.4/$scale)rem (.4/$scale)rem;
            border-bottom-color: #555;
            position: absolute;
            top: -(0.4/$scale)rem;
            left: (0.3/$scale)rem;
            width: 0;
            height: 0;
        }
        &::after {
            border-bottom-color: #FFF;
            bottom: -(0.25/$scale)rem;
        }
        &.active {
            margin-top: (0.5/$scale)rem;
            overflow:visible;
            border: (0.05/$scale)rem solid #CCC;
            box-shadow: 0 (.1/$scale)rem (.2/$scale)rem 0 rgba(34, 36, 38, .12), 0 (0.1/$scale)rem (0.5/$scale)rem 0 rgba(34, 36, 38, .08);
        }
    }
    .filter-input {
        position: relative;
        padding: (.5/$scale)rem;
        input {
            margin: 0;
            padding: (.25/$scale)rem (1/$scale)rem (.25/$scale)rem (.25/$scale)rem;
            outline: 0 none;
            width: 100%;
            box-sizing: border-box;
            line-height: (.8/$scale)rem;
            border: (.05/$scale)rem solid #CCC;
            border-radius: (.1/$scale)rem;
            color: #888;
            &::focus {
                border-color: rgba(14, 144, 210, 1);
            }
        }
        .iconfont {
            position: absolute;
            display: block;
            width: (1/$scale)rem;
            height: (1/$scale)rem;
            color: #888;
            line-height: (1/$scale)rem;
            top: (.75/$scale)rem;
            right: (.55/$scale)rem;
            font-size: (.65/$scale)rem;
        }
    }
}

.selected-slide {
    &.dropdown {
        position:static;
        &>button{
            .dropdown-status{
                @include text-overflow;
            }
        }
        .dropdown-content {
            background: #FFF;
            display:block;
            opacity: 0.5;
            bottom:-100%;
            left:0;
            right:0;
            position:fixed;
            box-shadow: 0 (.1/$scale)rem (.2/$scale)rem (.2/$scale)rem rgba(34, 36, 38, .12), 0 (.1/$scale)rem (.2/$scale)rem 0 rgba(34, 36, 38, .08);
            transition: all .2s ease-in-out;
            padding:(.6/$scale)rem 0;
            &.active {
                overflow:visible;
                transition: all .2s ease-in-out;
                opacity: 1;
                bottom: 0;
            }
            &:before,&:after{
                display:none;
            }
            .slider {
                overflow: hidden;
                padding: (1.5/$scale)rem 0 (2/$scale)rem 0;
            }
            .slides {
                padding:.2rem;
                .slider:first-child {
                    transform: rotateX(0deg);
                }
                .slide {
                    display: block;
                    font-size: 0;
                    overflow: hidden;
                    clear: both;
                    &.prev {
                        transform: rotateX(0deg);
                    }
                    &.active {
                        & + .slide {
                            transform: rotateX(0deg);
                        }
                        &>span {
                            color: #333;
                            transform: rotateX(0deg);
                        }
                        &.pseudo-slide>span {
                            transition-duration: 0s;
                        }
                        border-top:(.05/$scale)rem solid #DDD;
                        border-bottom:(.05/$scale)rem solid #DDD;
                        background:#F8F8F8;
                    }
                    &>span {
                        display: block;
                        text-align: center;
                        width: 100%;
                        color: #AAA;
                        float: left;
                        font-size: (.7/$scale)rem;
                        line-height: (1.6/$scale)rem;
                    }
                    &>span.iconfont{
                        display:none;
                    }
                    &.pseudo-slide>span {
                        transition-duration: 0s;
                    }
                }
            }
        }
    }
}
