@import "../common/common";
@import "../common/util";
@import "./slidetabs";
.swipe-list{
    height: 100%;
    overflow: hidden;
    position: relative;
    >a.icon-back{
        position: absolute;
        height: 1.17rem;
        width: 1.17rem;
        line-height: 1.17rem;
        text-align: center;
        left: 0;
        top: 0;
        font-size: .58rem;
        color: #a7a7a7;
        z-index: 999;
    }
    .slide-tabs{
        .slide-tabs-navbar{
            display: block;
            border-bottom: none;
            .slide-tabs-navbar-item{
                display: none;
                width: 100%;
                font-size: .42rem;
                position: relative;
                &.active{
                    display: block;
                }
                >span.header{
                    display: block;
                }
            }
        }
        .slide-tabs-content{
            background-color: #1a1a1a;
            height: 100%;
            align-items: center;
            .slide-tabs-item{
                height: 100%;
                align-items: center;
                display: flex;
                img{
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
}