@import "../../common/common.styl"
@import "../../common/iconfont.styl"
@import "../../common/header.styl"
@import "../../common/member.styl"

.collect-content{
	font-size: .7rem;
	color: $gray-color;
	padding: 2rem 0 2.5rem 0;
	.collect-list{
		background-color: #fff;
		>li{
			padding: .6rem 0;
			margin: 0 .6rem;
			border-bottom: 1px solid #d7d7d7;
			display: flex;
			&:last-child{
				border-bottom: none;
			}
			.col{
			}
			.col-left{
				margin-right: .6rem;
				img{
					width: 5rem;
					height: 5rem;
					border: 1px solid #e0e0e0;
				}
			}
			.col-right{
				flex: 1;
				position: relative;
				.title{
					font-size: .7rem;
					line-height: .9rem;
					height: 1.8rem;
					margin-bottom: .3rem;
					color: #555;
				}
				.origin{
					display: flex;
					font-size: .6rem;
					line-height: 1rem;
					color: #777;
					img{
						width: 1rem;
						height: 1rem;
						margin-right: .2rem;
					}
				}
				.price{
					display: flex;
					align-items: baseline;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					span{
						flex: 1;
						display: block;
						color: #ed1949;
						font-size: 1rem;
						font-weight: normal;
						&:last-child{
							color: #999;
							font-size: .5rem;
							text-align: right;
							text-decoration: line-through;
						}
					}
				}
			}
		}
	}
}
