@import "../../common/common";
@import "../../common/iconfont";
@import "../../common/header";
@import "../../component/slidetabs";
@import "../../component/refresher";
@import "../../component/masklayer";
@import "../../component/gotop";
@import "../../component/alert";
@import "./orderlist.css";
$gray-color = #555
body {
    background: #F1F1F1;
    padding:0;
}

.right{
    float:right;
}

.order-down{
    &>.order-buttons{
        float:right;
    }
}

.order-list-container{
    height:100%;
    &>div{
        height:100%;
    }
}
.order-list-content{
    height:100%;
    overflow:hidden;
}

.slide-tabs{
    .slide-tabs-navbar{
        height: 1.16rem;
        border:0 none;
        .slide-tabs-navbar-item{
            background:#FFF;
            border:0 none;
            border-bottom:px2rem(1) solid #D7D7D7;
            line-height:px2rem(36);
            &.active{
                color:#801da1;
                border-color:#801da1;
            }
        }
    }
    .slide-tabs-content{
        overflow:hidden;
        padding-bottom:px2rem(30);
    }
}
