@import "../../common/common";
@import "../../common/iconfont";
@import "../../common/header";
@import "./flashbuy.css";

.empty span{
  display: inline;
}

.tips {
    text-align: center;
}

.flash-price {
    position:absolute;
    left:.4rem;
    top:.3rem;
    width:.78rem;
    height:.78rem;
    background:url(/client/asset/images/jpsg.png) no-repeat;
    background-size:100%;
}
.mobile-price{
    position:absolute;
    left:.4rem;
    top:.3rem;
    width:.78rem;
    height:.78rem;
    background:url(/client/asset/images/indexTitle_1.png) no-repeat;
    background-size:95% 95%;
}