@import "../../common/common.styl";
@import "../../common/iconfont.styl";
@import "../../common/header.styl";
@import "../../common/footer.styl";
@import "../../component/masklayer.styl";
@import "../../common/scene.styl";
@import "../../component/dialog.styl";
@import "./idcard.css";

html,body{
    height:100%;
    // -webkit-overflow-scrolling: touch;
    padding:0;
}
.idcard-container {
	height: 100%;
}
#idcard-detail {
	height: 100%;
}