@charset "utf-8";
/* CSS Document */

header .screening {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.15rem;
    height: 1.15rem;
    line-height: 1.15rem;
    text-align: right;
    text-align: center;
    color: #801da1;
}
header .screening:hover,
header .screening:visited{
	color: #801da1;
}
.footer{
	height:1.2rem;
	position:fixed;
	left:0;
	bottom:0;
	background-color:#fff;
	width:100%;
	border-top:1px solid #dcdddd;
	text-align:center;
}
.footer .btn{
	width:4rem;
	height:0.92rem;
	line-height:0.92rem;
	color:#fff;
	font-weight:bold;
	background-color:#801da1;
	display:inline-block;
	margin-top:.14rem;
	border-radius:20px;
}
.addBtns{
    position:absolute;
    left: 0;
    bottom:0;
    z-index:100;
    width:100%;
    height:1.2rem;
    border-top:1px solid #dcdddd;
    background-color:#fff;
    text-align:center;
}
.idcard-content .empty{
	text-align: center;
}
.addBtns a.addBtn,
.idcard-content .empty a.empty_btn{
    line-height:.94rem;
    height: .94rem;
    display:inline-block;
    background-color:#801da1;
    color:#fff;
    margin-top:.13rem;
    border-radius:20px;
    width:40%;
}
.idcard-content .empty a.empty_btn{
	margin-top: .6rem;
}
.addBtns a.addBtn.disabled{
	background-color: #888;
}
.blub{
	padding:0.32rem;
	color:#666;
	font-size:0.32rem;
}
.blub p{
	line-height:.48rem;
	padding-left:.5rem;
	position:relative;
}
.blub p:before{
	content:"";
	width:.4rem;
	height:.4rem;
	background:url(/client/asset/images/identity_bulb.png) no-repeat;
	background-size:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
}

.list-item{
	background-color:#fff;
	padding:.32rem 0 .36rem 0;
	margin-bottom:0.32rem;
}
.listTitle{
	padding:0 0.32rem;
	height: .48rem;
	line-height: .48rem;
}
.listTitle .name{
	padding-right:0.36rem;
	width: 2.3rem;
	height: .48rem;
	float: left;
	overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space:normal;
}
.listTitle .identity{
	
}
.listTitle .attestation{
	color:#dd1847;
	font-size:.27rem;
	float:right;
	position:relative;
	padding-left:.54rem;
}
.toolsArea .attestation{
	color:#dd1847;
	position:relative;
	padding-left:.54rem;
}
.listTitle .attestation em{
	width:0.44rem;
	height:0.44rem;
	background-image:url(/client/asset/images/id_attestation.png);
	background-repeat: no-repeat;
	background-size:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
/*.toolsArea .attestation em{
	width:0.44rem;
	height:0.44rem;
	background-image:url(/client/asset/images/id_attestation.png);
	background-repeat: no-repeat;
	background-size: 80%;
	display: inline-block;
}*/

.pic_id{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	padding:0.32rem 0.32rem .36rem .32rem;
	border-bottom:1px solid #e0e0e0;
}
.pic_id span{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	display:block;
}
.list .pic_id span{
	border: 2px solid #f0eeef;
	border-radius: .1333333rem;
	overflow: hidden;
}
.pic_id span:nth-child(1){
	margin-right:0.16rem;
}
.pic_id span:nth-child(2){
	margin-left:0.16rem;
}
.pic_id span img{
	width: 100%;
	height: 2.78rem;
	display: block;
}

.feedbackInfo{
	padding: .18rem .32rem;
	background-color:#fdebeb;
}
.feedbackInfo p{
	color:#dd1847;
	font-size:.32rem;
	line-height:.48rem;
	position:relative;
	padding-left:.5rem;
	min-height: .48rem;
	word-break: normal;
}
.feedbackInfo p:before{
	content:"";
	display:block;
	width:.32rem;
	height:.48rem;
	background:url(/client/asset/images/id_icon.png) no-repeat;
	background-position: left center;
	background-size:100%;
	position:absolute;
	left:0;
	top:0;
}

.toolsArea{
	clear:both;
	text-align:right;
	padding:.36rem .32rem 0 .32rem;
	line-height:.48rem;
}
.toolsArea > a{
	display: inline-block;
	width:auto;
	height:auto;
	font-size:.32rem;
	margin-left:.48rem;
	padding:0 .2rem;
}
.toolsArea > a em{
	vertical-align: middle;
	padding-right:.16rem;
}
.toolsArea > a.pen em{
	width: .44rem;
    height: .44rem;
    background: url(/client/asset/images/cart_pen.png) no-repeat;
    background-size: 80%;
	display:inline-block;
}
.toolsArea > a.del em{
	width: .44rem;
    height: .44rem;
    background: url(/client/asset/images/cart_del.png) no-repeat;
    background-size: 80%;
	display:inline-block;
}

.identityUpload{
	
}
.identityUpload > div{
	border-bottom:1px solid #e0e0e0;
	padding:.4rem .32rem .3rem;
	background-color:#fff;
}
.identityUpload > .uploadArea{
	border-bottom:0;
}
.identityUpload > div em{
	height:.5rem;
	line-height:.5rem;
	vertical-align: middle;
    display: inline-block;
    margin-right:1%;
    width:22%;
	font-size:0.373333rem;
	color:#666;
}
.identityUpload > div input{
	height:.5rem;
	line-height:.5rem;
    color: #222;
    width:75%;
	font-size:0.373333rem;
	border: none;
}
.identityUpload > div input:disabled{
	color: #888;
	-webkit-text-fill-color: #888;
	opacity: .8;
	background:none;
}

.uploadArea .pic_id {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0.36rem 0 0;
}
.uploadArea .pic_id span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
	position:relative;
	height:4.45rem;
}
.uploadArea .pic_id span:nth-child(1) {
    margin-right: 0.16rem;
}
.uploadArea .pic_id span:nth-child(2) {
    margin-left: 0.16rem;
}
.uploadArea .pic_id span img {
    width: 100%;
	height:3rem;
	position:absolute;
	border-radius: .1333333rem;
	left:0;
	top:0;
}
.uploadArea .pic_id span a{
	display:block;
	text-align:center;
	color:#dd1847;
	text-decoration:underline;
	font-size:.32rem;
	height:1.25rem;
	line-height:1.25rem;
	position:absolute;
	top:3.2rem;
	left:0;
	width:100%;
}

.uploadArea .pic_id span input[type=file]{
	opacity:0;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
}

.identityUpload .info{
	line-height: .48rem;
    padding-left: .5rem;
    position: relative;
	margin:.48rem;
	color:#666;
	font-size:.32rem;
}
.identityUpload .info:before {
    content: "";
    width: .4rem;
    height: .4rem;
    background: url(/client/asset/images/identity_bulb.png) no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}