@import "../../common/common.styl"
@import "../../common/iconfont.styl"
@import "../../common/header.styl"
@import "../../component/slider.styl"
@import "../../component/dropdown.styl"
@import "../../component/popover.styl"
@import "../../component/numberpicker.styl"
@import "./goods.css"

.slider .control-nav{
    position: absolute;
    width: 100%;
    bottom: .5rem;
    left: 50%;
    margin-left: -50%;
    z-index: 10;
    text-align: center;
    &>span{
        width: 8px;
        height: 8px;
        background: url(/client/asset/images/bannerDot2.png) 0 0 no-repeat;
        background-size: 100%;
        opacity:1;    
        &.active{
            background: url(/client/asset/images/bannerDot2.png) 0 -8px no-repeat;
            background-size: 100%;    
        }
    }
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.left{
    float:left;
}
.right{
    float:right;
}

px2rem($px){
    return $px/32 * 1rem;
}

$pink-color = #ED1946;

.promotionLabel {
    background: $pink-color;
    border-radius: px2rem(3);
    margin: 0 px2rem(5) px2rem(3) 0;
    padding: 0 px2rem(5);
    color: #FFF;
    display: inline-block;
    font-size: px2rem(12);
}
.promotion dt{
    line-height:px2rem(22);
}

.good-promotions {
    padding: 0 px2rem(8) 0;
    .fixed-caret {
        width: px2rem(22);
        height: px2rem(22);
        &>.iconfont {
            line-height:px2rem(22);
            display: inline-block;
            font-size: px2rem(14);
        }
    }
    .dropdown-content {
        // padding:0;
        &>div {
            line-height: px2rem(22);
        }
        &>.promotions {
            display: none;
            p{
                font-size:px2rem(12);
                line-height:inherit;
            }
            .promotion-title {
                @extends .promotionLabel;
            }
            .promotion-desc {
                font-size: px2rem(13);
            }
        }
        &>.promotions-brief {
            display: block;
            &>span {
                @extends .promotionLabel;
            }
        }
        &.active {
            &>.promotions {
                display: block;
            }
            &>.promotions-brief {
                display: none;
            }
        }
    }
}

.con{
    position:static;
    height:auto;
    .goodsSure{
        display:flex;
        justify-content:spacing-between;
        align-items:flex-start;
        &>img{
            float:none;
        }
        &>div.left{
            float:none;
            flex:1;
        }
        &>i{
            width:px2rem(22);
            color:#999;
        }
    }
    .select{
        padding:0 px2rem(10);
    }

    .divider-title {
        padding:px2rem(4) px2rem(10) px2rem(4);
        &>span {
            display: block;
            background: #FFF;
            line-height:px2rem(20);
            padding-right:px2rem(5);
        }
    }

    .good-buyed{
        float:right;
        input{
            max-width:px2rem(32);
            min-width:px2rem(22);
            line-height:px2rem(24);
        }
        .number-picker>div{
            line-height:px2rem(24);
            height:px2rem(24);
            width:px2rem(26);
            padding:0;
        }
    }
}
