@import "../../common/common.styl";
@import "../../common/iconfont.styl";
@import "../../common/header.styl";
@import "../../common/member.styl";
@import "../../component/slidetabs";
@import "../../component/slider";
@import "../../component/refresher.styl";
@import "../../component/masklayer.styl";
@import "../../component/gotop";

body{
	background-color: #f1f1f1;
}
.membercomment-container{
	height:100%;
	overflow:hidden;
	#member-comment{
		height:100%;
		overflow:hidden;
		&>div{
			height:100%;
			overflow:hidden;
		}
	}
}
.comment-content{
	color: $gray-color;
	padding: 0 0 0 0;
	.tab-content{
		height: 100%;
		overflow: hidden;
	}
	.slide-tabs {
		// position:absolute;
		// width:100%;
		.slide-tabs-navbar{
			border:0 none;
			background:#FFF;
			width: 100%;
			.slide-tabs-navbar-item{
				line-height:px2rem(38);
				border:0 none;
				width:px2rem(72);
				&.active{
					border-bottom:px2rem(2) solid #801da1;
				}
				&>span{
					padding-bottom:px2rem(3);
				}
				&.active>span{
					color:#801da1;
				}
			}
		}
		.slide-tabs-content{
			padding-bottom: 1.17rem;
		}
		
	}
	.comment-list{
		>li{
			padding: .3rem .25rem;
			margin-bottom: .3rem;
			background-color: #fff;
			.product{
				display: flex;
				padding: 0 .1rem .25rem .1rem;
				margin-bottom: .25rem;
				border-bottom: 1px solid #f1f1f1;
				font-size: .35rem;
				.col{
				}
				.col-left{
					margin-right: .6rem;
					line-height: 0;
					img{
						width: 1.78rem;
						height: 1.78rem;
						display: block;
						border: 1px solid #f1f1f1;
					}
				}
				.col-right{
					flex: 1;
					position: relative;
					.title{
						line-height: .55rem;
						height: 1.1rem;
						color: #555;
					}
					.origin{
						display: flex;
						font-size: .3rem;
						line-height: .55rem;
						color: #777;
						margin-bottom: .15rem;
						img{
							width: .5rem;
							height: .5rem;
							margin-right: .1rem;
						}
					}
				}
			}
			.stars-culm{
				display: flex;
				margin-bottom: .25rem;
				padding: 0 .2rem;
				line-height: .5rem;
				.stars{
					flex: 4;
					display: flex;
					text-align: left;
					color: #ffdd00;
					.iconfont{
						flex: 1;
						font-size: .43rem;
					}
				}
				.date{
					flex: 5;
					font-size: .2rem;
					color: #999;
					text-align: right;
				}
			}
			.content{
				padding: 0 .2rem;
			}
			.pic-list{
				display: flex;
				padding: .3rem .1rem 0 .1rem;
				>li{
					width: 25%;
					line-height: 0;
					>img{
						width: 2rem;
						height: 2rem;
						box-sizing: content-box;
						border: 1px solid #f1f1f1;
					}
				}
				&.hide{
					display: none;
				}
			}
		}
	}
}
