@import "../../common/common.styl";
@import "../../common/iconfont.styl";
@import "../../common/header.styl";
@import "../../common/footer.styl";
@import "../../component/refresher.styl";
@import "../../component/masklayer.styl";
@import "../../component/gotop.styl";
@import "../../component/tabs.styl";
@import "./explo.css";

.tabs-item {
	padding-bottom: 1.38rem;
}