@import "../../common/common.styl";
@import "../../common/iconfont.styl";
@import "../../common/header.styl";
@import "../../common/footer.styl";
@import "../../component/refresher.styl";
@import "../../component/slidetabs";
@import "../../component/slider";
@import "./explo.css";

 
.slide-tabs {
	padding-bottom: 1.38rem;
	.slide-tabs-navbar {
		height: 1.16rem;
		width: 100%;
		background-color:white;
	    border-bottom: 1px solid #d7d7d7;
	    .slide-tabs-navbar-item {
			line-height: 1.16rem;
			border: none;
			&.active {
				background-color: transparent;
			}
		}
	}
}