@import "../../common/common";
@import "../../common/switcher";
@import "../../common/iconfont";
@import "../../common/header";
@import "../../common/ordergoods";
@import "./orderdetail.css";

.order-detail-container{
    height:100%;
    &>div{
        height:100%;
    }
}
.order-detail-content{
    padding-bottom:px2rem(45);
}