.number-picker {
    display:flex;
    justify-content:center;
    align-items:center;
    &>div {
        font-size: .7rem;
        padding: 0 .5rem;
        border: .05rem solid #AAA;
        cursor: pointer;
        line-height: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        box-sizing:content-box;
        &:first-child {
            border-top-left-radius: .2rem;
            border-bottom-left-radius: .2rem;
        }
        &:last-child {
            border-top-right-radius: .2rem;
            border-bottom-right-radius: .2rem;
        }
    }
    &>input {
        border-color: #999;
        border-style: solid;
        border-width: .05rem 0;
        width: 2.5rem;
        line-height: 1.5rem;
        padding: 0;
        text-align: center;
        border-radius: 0;
        box-sizing:border-box;
    }
}
