{% extends "./layout.html" %}
{% block title %}关于我们{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/aboutus/dist/aboutus-fd7a9b6442dad898d5ac.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="aboutus-container">
    <div id="aboutus">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-fd7a9b6442dad898d5ac.js"></script>
<script src="/client/bundle/aboutus/dist/aboutus-fd7a9b6442dad898d5ac.js"></script>
<!-- endinject -->
{% endblock %}