{% extends "./layout.html" %}
{% block title %}专场活动{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/activity/dist/activity-4c7502593131b6d25754.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="activity" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-4c7502593131b6d25754.js"></script>
<script src="/client/bundle/activity/dist/activity-4c7502593131b6d25754.js"></script>
<!-- endinject -->
{% endblock %}