{% extends "./layout.html" %}
{% block title %}专场活动{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/activity/dist/activity-02146cfb84165900298f.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="activity" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-02146cfb84165900298f.js"></script>
<script src="/client/bundle/activity/dist/activity-02146cfb84165900298f.js"></script>
<!-- endinject -->
{% endblock %}