{% extends "./layout.html" %}
{% block title %}专场活动－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164201654">
<link rel="stylesheet" href="/client/bundle/activity/dist/activity-c2ce11e32800314d99cb.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="activity" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-c2ce11e32800314d99cb.js"></script>
<script src="/client/bundle/activity/dist/activity-c2ce11e32800314d99cb.js"></script>
<!-- endinject -->
{% endblock %}