{% extends "./layout.html" %}
{% block title %}购物车－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164281731">
<link rel="stylesheet" href="/client/bundle/cart/dist/cart-18b0261edf0583499cd3.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="cart" class="container">{{ markup|safe }}</div>
<input type="hidden" id="persisted"/>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-18b0261edf0583499cd3.js"></script>
<script src="/client/bundle/cart/dist/cart-18b0261edf0583499cd3.js"></script>
<!-- endinject -->
{% endblock %}