{% extends "./layout.html" %}
{% block title %}Detail{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/cart/dist/cart-b312843441261ef4ad3a.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="cart-container">
    <div id="cart">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-b312843441261ef4ad3a.js"></script>
<script src="/client/bundle/cart/dist/cart-b312843441261ef4ad3a.js"></script>
<!-- endinject -->
{% endblock %}