{% extends "./layout.html" %}
{% block title %}购物车－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="cart" class="container">{{ markup|safe }}</div>
<input type="hidden" id="persisted"/>
<script src="{{baseURL}}:7000/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="{{baseURL}}:5000/hmr/react.js"></script>
<script src="{{baseURL}}:5000/hmr/cart.js"></script>
<!-- endinject -->
{% endblock %}