{% extends "./layout.html" %}
{% block title %}确认订单－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="confirm-order-container">
    <div id="confirm-order">{{ markup|safe }}</div>
</div>
<script src="http://192.168.2.141:7000/bs/browser-sync-client.js"></script>
<script src="http://127.0.0.1:7000/bs/browser-sync-client.js"></script>
<script src="{{reloaderURL}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="http://192.168.2.141:5000/hmr/react.js"></script>
<script src="http://192.168.2.141:5000/hmr/checkout.js"></script>
<!-- endinject -->
{% endblock %}