{% extends "./layout.html" %}
{% block title %}确认订单－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164191713">
<link rel="stylesheet" href="/client/bundle/confirmorder/dist/confirmorder-b9be1bd4d23a5543fbf0.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="confirm-order-container">
    <div id="confirm-order">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-b9be1bd4d23a5543fbf0.js"></script>
<script src="/client/bundle/confirmorder/dist/confirmorder-b9be1bd4d23a5543fbf0.js"></script>
<!-- endinject -->
{% endblock %}