{% extends "./layout.html" %}
{% block title %}确认订单－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="confirm-order-container">
    <div id="confirm-order">{{ markup|safe }}</div>
</div>
<script src="{{baseURL}}:7000/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="{{baseURL}}:5000/hmr/react.js"></script>
<script src="{{baseURL}}:5000/hmr/confirmorder.js"></script>
<!-- endinject -->
{% endblock %}