{% extends "./layout.html" %}
{% block title %}确认订单－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164181843">
<link rel="stylesheet" href="/client/bundle/confirmorder/dist/confirmorder-3f30e7604ccb5d6b3c86.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="confirm-order-container">
    <div id="confirm-order">{{ markup|safe }}</div>
</div>
<script src="{{hostname}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-3f30e7604ccb5d6b3c86.js"></script>
<script src="/client/bundle/confirmorder/dist/confirmorder-3f30e7604ccb5d6b3c86.js"></script>
<!-- endinject -->
{% endblock %}