{% extends "./layout.html" %}
{% block title %}优惠券列表－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/coupon/dist/coupon-c044df445df05882890d.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="coupon" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-c044df445df05882890d.js"></script>
<script src="/client/bundle/coupon/dist/coupon-c044df445df05882890d.js"></script>
<!-- endinject -->
{% endblock %}