{% extends './layout.html' %}
{% block title %}List{% endblock %} 
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/error/dist/error-c3b915c1a559522de5ff.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="error-container">
    <div id="error">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-c3b915c1a559522de5ff.js"></script>
<script src="/client/bundle/error/dist/error-c3b915c1a559522de5ff.js"></script>
<!-- endinject -->
{% endblock %}
