{% extends './layout.html' %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164182156">
<link rel="stylesheet" href="/client/bundle/error/dist/error-dcc795360a220bd986fd.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="error-container">
    <div id="error">{{ markup|safe }}</div>
</div>
<script src="{{hostname}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-dcc795360a220bd986fd.js"></script>
<script src="/client/bundle/error/dist/error-dcc795360a220bd986fd.js"></script>
<!-- endinject -->
{% endblock %}
