{% extends './layout.html' %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164221144">
<link rel="stylesheet" href="/client/bundle/error/dist/error-7e92f8ab09d9274d0671.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="error-container">
    <div id="error">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-7e92f8ab09d9274d0671.js"></script>
<script src="/client/bundle/error/dist/error-7e92f8ab09d9274d0671.js"></script>
<!-- endinject -->
{% endblock %}
