{% extends "./layout.html" %}
{% block title %}{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/flashbuy/dist/flashbuy-10d4bc2092ef5003d758.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="flashbuy-container">
    <div id="flashbuy">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-10d4bc2092ef5003d758.js"></script>
<script src="/client/bundle/flashbuy/dist/flashbuy-10d4bc2092ef5003d758.js"></script>
<!-- endinject -->
{% endblock %}