{% extends "./layout.html" %}
{% block title %}商品详情－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/gooddetail/dist/gooddetail-c044df445df05882890d.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="gooddetail-container">
    <div id="good-detail">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-c044df445df05882890d.js"></script>
<script src="/client/bundle/gooddetail/dist/gooddetail-c044df445df05882890d.js"></script>
<!-- endinject -->
{% endblock %}