{% extends "./layout.html" %}
{% block title %}商品评论{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/goodcomment/dist/goodcomment-e2fda18d628f8e367675.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="goodcomment-container">
    <div id="good-comment">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-e2fda18d628f8e367675.js"></script>
<script src="/client/bundle/goodcomment/dist/goodcomment-e2fda18d628f8e367675.js"></script>
<!-- endinject -->
{% endblock %}