{% extends './layout.html' %}
{% block title %}搜索结果{% endblock %} 
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/goodlist/dist/goodlist-2261f3f9a59ffdbca65a.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="good-list" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-2261f3f9a59ffdbca65a.js"></script>
<script src="/client/bundle/goodlist/dist/goodlist-2261f3f9a59ffdbca65a.js"></script>
<!-- endinject -->
{% endblock %}
