{% extends "./layout.html" %}
{% block title %}帮助与反馈{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/help/dist/help-3837b56671018da4688b.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="help-container">
    <div id="help-content">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-3837b56671018da4688b.js"></script>
<script src="/client/bundle/help/dist/help-3837b56671018da4688b.js"></script>
<!-- endinject -->
{% endblock %}