{% extends "./layout.html" %}
{% block title %}Detail{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/help/dist/help-7db018cf57aa95fc3c0d.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="help-container">
    <div id="help-content">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-7db018cf57aa95fc3c0d.js"></script>
<script src="/client/bundle/help/dist/help-7db018cf57aa95fc3c0d.js"></script>
<!-- endinject -->
{% endblock %}