{% extends "./layout.html" %}
{% block title %}帮助与反馈－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164182156">
<link rel="stylesheet" href="/client/bundle/help/dist/help-dcc795360a220bd986fd.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="help-container">
    <div id="help-content">{{ markup|safe }}</div>
</div>
<script src="{{hostname}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-dcc795360a220bd986fd.js"></script>
<script src="/client/bundle/help/dist/help-dcc795360a220bd986fd.js"></script>
<!-- endinject -->
{% endblock %}