{% extends "./layout.html" %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164251655">
<link rel="stylesheet" href="/client/bundle/index/dist/index-f9830457dcb915297d8c.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="index-container">
    <div id="index">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-f9830457dcb915297d8c.js"></script>
<script src="/client/bundle/index/dist/index-f9830457dcb915297d8c.js"></script>
<!-- endinject -->
{% endblock %}