{% extends "./layout.html" %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/index/dist/index-ddae9080b4e13913b5a3.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="index-container">
    <div id="index">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-ddae9080b4e13913b5a3.js"></script>
<script src="/client/bundle/index/dist/index-ddae9080b4e13913b5a3.js"></script>
<!-- endinject -->
{% endblock %}