{% extends "./layout.html" %}
{% block title %}账户设置{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/memberupdate/dist/memberupdate-ededc661934853a5615b.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="memberupdate-container">
    <div id="member-update">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-ededc661934853a5615b.js"></script>
<script src="/client/bundle/memberupdate/dist/memberupdate-ededc661934853a5615b.js"></script>
<!-- endinject -->
{% endblock %}