{% extends "./layout.html" %}
{% block title %}个人中心{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/membercenter/dist/membercenter-98126cfa9393cc05ff6c.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="membercenter-container">
    <div id="member-center">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-98126cfa9393cc05ff6c.js"></script>
<script src="/client/bundle/membercenter/dist/membercenter-98126cfa9393cc05ff6c.js"></script>
<!-- endinject -->
{% endblock %}