{% extends "./layout.html" %}
{% block title %}我的收藏{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/membercollect/dist/membercollect-2261f3f9a59ffdbca65a.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="membercollect-container">
    <div id="member-collect">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-2261f3f9a59ffdbca65a.js"></script>
<script src="/client/bundle/membercollect/dist/membercollect-2261f3f9a59ffdbca65a.js"></script>
<!-- endinject -->
{% endblock %}