{% extends "./layout.html" %}
{% block title %}我的评论{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/membercomment/dist/membercomment-69547ed5a253fbf3e1e9.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="membercomment-container">
    <div id="member-comment">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-69547ed5a253fbf3e1e9.js"></script>
<script src="/client/bundle/membercomment/dist/membercomment-69547ed5a253fbf3e1e9.js"></script>
<!-- endinject -->
{% endblock %}