{% extends "./layout.html" %}
{% block title %}Cart{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/orderdetail/dist/orderdetail-b312843441261ef4ad3a.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="order-detail-container">
    <div id="order-detail">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-b312843441261ef4ad3a.js"></script>
<script src="/client/bundle/orderdetail/dist/orderdetail-b312843441261ef4ad3a.js"></script>
<!-- endinject -->
{% endblock %}