{% extends "./layout.html" %}
{% block title %}我的订单{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/orderlist/dist/orderlist-9c2a98327d85c1e8eae6.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="order-list-container">
    <div id="order-list">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-9c2a98327d85c1e8eae6.js"></script>
<script src="/client/bundle/orderlist/dist/orderlist-9c2a98327d85c1e8eae6.js"></script>
<!-- endinject -->
{% endblock %}