{% extends "./layout.html" %}
{% block title %}订单详情－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164211551">
<link rel="stylesheet" href="/client/bundle/orderdetail/dist/orderdetail-a416a00f1bad2808c19e.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="order-detail-container">
    <div id="order-detail">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-a416a00f1bad2808c19e.js"></script>
<script src="/client/bundle/orderdetail/dist/orderdetail-a416a00f1bad2808c19e.js"></script>
<!-- endinject -->
{% endblock %}