{% extends "./layout.html" %}
{% block title %}我的订单－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164291719">
<link rel="stylesheet" href="/client/bundle/orderlist/dist/orderlist-88173de9176231e1f37c.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="order-list-container">
    <div id="order-list">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-88173de9176231e1f37c.js"></script>
<script src="/client/bundle/orderlist/dist/orderlist-88173de9176231e1f37c.js"></script>
<!-- endinject -->
{% endblock %}