{% extends "./layout.html" %}
{% block title %}订单详情{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/orderdetail/dist/orderdetail-359daf6968d9bd400bc5.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="order-detail-container">
    <div id="order-detail">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-359daf6968d9bd400bc5.js"></script>
<script src="/client/bundle/orderdetail/dist/orderdetail-359daf6968d9bd400bc5.js"></script>
<!-- endinject -->
{% endblock %}