{% extends "./layout.html" %}
{% block title %}类目聚合页－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="polymer-container"><div id="polymer">{{ markup|safe }}</div></div>
<script src="{{reloaderURL}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="{{hmrURL}}/hmr/react.js"></script>
<script src="{{hmrURL}}/hmr/polymer.js"></script>
<!-- endinject -->
{% endblock %}