{% extends "./layout.html" %}
{% block title %}类目聚合页－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164181843">
<link rel="stylesheet" href="/client/bundle/polymer/dist/polymer-3f30e7604ccb5d6b3c86.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="polymer-container"><div id="polymer">{{ markup|safe }}</div></div>
<script src="{{hostname}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-3f30e7604ccb5d6b3c86.js"></script>
<script src="/client/bundle/polymer/dist/polymer-3f30e7604ccb5d6b3c86.js"></script>
<!-- endinject -->
{% endblock %}