{% extends "./layout.html" %}
{% block title %}收货地址－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/receiver/dist/receiver-20174e083a758d323ead.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="receiver-container">
    <div id="receiver">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-20174e083a758d323ead.js"></script>
<script src="/client/bundle/receiver/dist/receiver-20174e083a758d323ead.js"></script>
<!-- endinject -->
{% endblock %}