{% extends "./layout.html" %}
{% block title %}搜索{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/search/dist/search-400aab88725316feed33.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="search-container">
    <div id="search-markup">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-400aab88725316feed33.js"></script>
<script src="/client/bundle/search/dist/search-400aab88725316feed33.js"></script>
<!-- endinject -->
{% endblock %}