{% extends './layout.html' %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20164231739">
<link rel="stylesheet" href="/client/bundle/test/dist/test-fad23dc689770e85f65c.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="test-container">
    <div id="test">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-fad23dc689770e85f65c.js"></script>
<script src="/client/bundle/test/dist/test-fad23dc689770e85f65c.js"></script>
<!-- endinject -->
{% endblock %}