{% extends './layout.html' %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="20163181716">
<link rel="stylesheet" href="/client/bundle/test/dist/test-d7304b03866cd96f91ef.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="test-container">
    <div id="test">{{ markup|safe }}</div>
</div>
<script src="{{hostname}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-d7304b03866cd96f91ef.js"></script>
<script src="/client/bundle/test/dist/test-d7304b03866cd96f91ef.js"></script>
<!-- endinject -->
{% endblock %}