{% extends './layout.html' %}
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="test-container">
    <div id="test">{{ markup|safe }}</div>
</div>
<script src="{{reloaderURL}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="{{hmrURL}}/hmr/react.js"></script>
<script src="{{hmrURL}}/hmr/test.js"></script>
<!-- endinject -->
{% endblock %}