{% extends "./layout.html" %}
{% block title %}友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/topic/dist/topic-6647d8d58637096174bf.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="topic-container">
    <div id="topic">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-6647d8d58637096174bf.js"></script>
<script src="/client/bundle/topic/dist/topic-6647d8d58637096174bf.js"></script>
<!-- endinject -->
{% endblock %}