{% extends "./layout.html" %}
{% block title %}友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %} 
{% block content %}
<div class="topic-container">
    <div id="topic">{{ markup|safe }}</div>
</div>
<script src="{{hostname}}/bs/browser-sync-client.js"></script>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- inject:js -->
<script src="{{hostname}}/hmr/react.js"></script>
<script src="{{hostname}}/hmr/topic.js"></script>
<!-- endinject -->
{% endblock %}