{% extends "./layout.html" %}
{% block title %}爆款－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/trendy/dist/trendy-35a9032d29b2c3dae472.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="trendy" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-35a9032d29b2c3dae472.js"></script>
<script src="/client/bundle/trendy/dist/trendy-35a9032d29b2c3dae472.js"></script>
<!-- endinject -->
{% endblock %}