{% extends "./layout.html" %}
{% block title %}爆款－友阿海外购{% endblock %}
{% block css %}
<!-- inject:css -->
<meta name="bundledAt" content="2016419170">
<link rel="stylesheet" href="/client/bundle/trendy/dist/trendy-b9be1bd4d23a5543fbf0.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="trendy" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-b9be1bd4d23a5543fbf0.js"></script>
<script src="/client/bundle/trendy/dist/trendy-b9be1bd4d23a5543fbf0.js"></script>
<!-- endinject -->
{% endblock %}