{% extends "./layout.html" %}
{% block title %}暴款{% endblock %}
{% block css %}
<!-- inject:css -->
<link rel="stylesheet" href="/client/bundle/trendy/dist/trendy-1e9443a49f93708745ee.css">
<!-- endinject -->
{% endblock %} 
{% block content %}
<div id="trendy" class="container">{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- inject:js -->
<script src="/client/vendor/dist/react-1e9443a49f93708745ee.js"></script>
<script src="/client/bundle/trendy/dist/trendy-1e9443a49f93708745ee.js"></script>
<!-- endinject -->
{% endblock %}